.container{
    display:flex;
    margin-right:auto;
    align-items: center;
    gap: 15px;
}
.heading{
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 20px #000;
}