.input{
    height:40px;
    width: 320px;
    background: #05101c;
    border-radius: 10px;
    border-color: white !important;
    color:white;
    padding-left: 12px;
    font-size: large;
    outline: none;
    margin: 10px 0px;
}