@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans:ital@1&display=swap');
html,body{
  margin:0;
  padding:0;
  background: #05101c;
  color:white;
  font-family: "Roboto Slab",serif;
}
.image-inverted{
  filter: invert(100%);
  margin-right: 4px;
}
.rotate{
  animation: rotation 8s infinite linear;
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}